In [ ]:
f1 = open("color.txt","w")
f1.write("Color    Value\nRed    1\nGreen    2\nYellow    3")
f1.close()
f1 = open("color.txt","r")
f = f1.read()
print(f)
f1.close()

In [6]:
import pandas as pd
import numpy as np
data = np.array(['d','i','s','h','a'])
ser = pd.Series(data)
print(ser)
list = ['d','i','s','h','a']
ser = pd.Series(list)
print(ser)

import pandas as pd
import numpy as np
employees = [('Harsh', 20,'Varanasi'),
             ('Jugal', 21, 'Delhi'),
             ('Rashesh', 20, 'Mumbai'),
             ('Jugal', 21, 'Delhi'),
             ('Shreya', 21, 'Delhi'),
             ('Rutvik', 20, 'Mumbai'),
             ('Dishen', 21, 'Dehradun'),
             ('Shreya', 21, 'Delhi')
             ]# remove duplicates only             
dfObj = pd.DataFrame(employees,columns=["Name","Age","City"])
print(dfObj)
print()
duplicatedRow = dfObj[dfObj.duplicated(keep='last')] #find duplicates
print(duplicatedRow)
print()
final_data = dfObj.drop_duplicates()#removeduplicates#
final_data.sort_values("Name",inplace=True)
print(final_data)

0    d
1    i
2    s
3    h
4    a
dtype: object
0    d
1    i
2    s
3    h
4    a
dtype: object
      Name  Age      City
0    Harsh   20  Varanasi
1    Jugal   21     Delhi
2  Rashesh   20    Mumbai
3    Jugal   21     Delhi
4   Shreya   21     Delhi
5   Rutvik   20    Mumbai
6   Dishen   21  Dehradun
7   Shreya   21     Delhi

     Name  Age   City
1   Jugal   21  Delhi
4  Shreya   21  Delhi

      Name  Age      City
6   Dishen   21  Dehradun
0    Harsh   20  Varanasi
1    Jugal   21     Delhi
2  Rashesh   20    Mumbai
5   Rutvik   20    Mumbai
4   Shreya   21     Delhi

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from pandas import *
from numpy import *
from google.colab import filesuploaded = files.upload()
d=read_csv("test.csv")
df=DataFrame(d)
print(df)

In [1]:
import pandas as pd
import numpy as np

employees = [('Harsh', 20,'Varanasi'),
             ('Jugal', 21, 'Delhi'),
             ('Rashesh', 20, 'Mumbai'),
             ('Jugal', 21, 'Delhi'),
             ('Shreya', 21, 'Delhi'),
             ('Rutvik', 20, 'Mumbai'),
             ('Dishen', 21, 'Dehradun'),
             ('Shreya', 21, 'Delhi')
             ]
# remove duplicates only             
dfObj = pd.DataFrame(employees,columns=["Name","Age","City"])
print(dfObj)
print()
duplicatedRow = dfObj[dfObj.duplicated(keep='last')] #find duplicates
print(duplicatedRow)
print()
final_data = dfObj.drop_duplicates() #remove duplicates
#final_data.sort_values("Name",inplace=True)
print(final_data)

      Name  Age      City
0    Harsh   20  Varanasi
1    Jugal   21     Delhi
2  Rashesh   20    Mumbai
3    Jugal   21     Delhi
4   Shreya   21     Delhi
5   Rutvik   20    Mumbai
6   Dishen   21  Dehradun
7   Shreya   21     Delhi

     Name  Age   City
1   Jugal   21  Delhi
4  Shreya   21  Delhi

      Name  Age      City
0    Harsh   20  Varanasi
1    Jugal   21     Delhi
2  Rashesh   20    Mumbai
4   Shreya   21     Delhi
5   Rutvik   20    Mumbai
6   Dishen   21  Dehradun

In [4]:
from pandas import *
from numpy import *
employees = [ ('Vicky', np.NaN, 'Sydney' , 'Australia') , 
('Dhaval', np.NaN, 'Delhi' , 'India' ) , 
('Krunal', 21, np.NaN , 'India' ) , 
('Jemy', 20, 'Bangalore' , 'India' ) , 
('Yash', 20, 'New York' , 'US') , 
('Krisha' , 21, np.NaN, np.NaN ) , 
(np.NaN , np.NaN, np.NaN, np.NaN ) 
] 
df=DataFrame(employees,columns=["Name","Age","City","Country"])
print(df.isnull()) # return boolean dataframe
print(df.isnull().sum()) # for perticular column
print(df.isnull().sum().sum()) # total values

    Name    Age   City  Country
0  False   True  False    False
1  False   True  False    False
2  False  False   True    False
3  False  False  False    False
4  False  False  False    False
5  False  False   True     True
6   True   True   True     True
Name       1
Age        3
City       3
Country    2
dtype: int64
9

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if __name__ == '__main__':

In [ ]:
from pandas import *
from numpy import *
from google.colab import filesuploaded = files.upload()
dd=read_csv("test.csv")
ddf=DataFrame(dd)
print(dd)
fd=df.drop_duplicates()
print(fd)
fdd=df[df.duplicated(keep='last')]
print(fdd)